
<app-titlebar></app-titlebar>
<div class="row" style="margin-left: 15px; margin-right: 20px; margin-top: 5px;">
    <div class="col-4">

        <div class="card" style="width:27rem;">
            <img class="card-img-top"  src="assets\images\cover.jpg" alt="Card image cap">
            
        </div>
    </div>
    <div class="col-5">
        
        <div class="card"> 
            <div class="card-body"> <br> <b>
                The supply chain of the consumable goods produced by the local farmers is always unmanage. When we are considered about the
                local supply chain, often there is no real price for consumer goods produced by farmers. In here, we brings heavy losses to
                the farmers and customers!!!  
                 <br>
                අස්වැන්න centralizes, manages, and optimizes the production 
                activities and operations of farms. 
                <br>With අස්වැන්න, farmers can become 
                strategic and efficient in their daily farm-related tasks 
                and responsibilities. අස්වැන්න tracks business expenses and 
                farm budgets. <br>
                While farm management software, crop management software, and 
                precision agriculture software all solve overlapping production and yield 
                concerns, the scope of the former is larger and more comprehensive. However, vendors do offer more generalized, 
                sector-agnostic farm management solutions, benefiting farmers, ranchers, growers, and other 
                agribusiness employees who manage and oversee operations that are multi-sector.  </b>
              </div>
          </div>
    </div>


    <div class="col-3">
        <div class="card-deck" style="width: 20rem;  height: 15rem">
            <div class="card" style="width: 10rem; height: 15rem">
                <a href="/order"><img class="card-img-top" src="assets\images\veg.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <a href="/order">
                        <h5 class="card-title" style="color: black;">Vegetables</h5>
                    </a>
                    <p style="color: rgb(16, 240, 35);">You can add your vegetables here!</p>
                </div>
            </div>

            <div class="card" style="width: 10rem; height: 15rem">
                <a href="/order"><img class="card-img-top" src="assets\images\fruit.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <a href="/order">
                        <h5 class="card-title" style="color: black;">Fruits</h5>
                    </a>
                    <p style="color: rgb(3, 248, 24);">You can add your fruits here!</p>
                </div>
            </div>



        </div>
        <div>
            <p></p>
        </div>
            <div class="card-deck" style="width: 20rem;  height: 15rem">
                <div class="card" style="width: 10rem;  height: 15rem">
                    <a href="/order"><img class="card-img-top" src="assets\images\spices.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/order">
                            <h5 class="card-title" style="color: black;">Spices</h5>
                        </a>
                        <p style="color: rgb(16, 240, 35);">You can add your spices here!</p>
                    </div>
                </div>


                <div class="card" style="width: 10rem;  height: 15rem">
                    <a href="/order"><img class="card-img-top" src="assets\images\seeds.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="/order">
                            <h5 class="card-title" style="color: black;">Seeds</h5>
                        </a> 
                        <p style="color: rgb(16, 240, 35);">You can add your seeds here!</p>
                    </div>
                </div>
            </div>





    </div>
</div>